%h1 betwext keyword / number list
%ol
  - @betwext_entries.each do |sms|
    %li
      = sms.sender_number
      - counter = 0
      - [9130, 9131, 9132].each do |list_id|
        - counter += 1
        - if sms.betwext_winners.first(:betwext_list_id => list_id)
          %strike round #{counter}
          |
        - else
          %a{ :href=> "/api/betwext/add_to_betwext_list/#{sms.keyword}/#{list_id}/#{sms.sender_number}" }round #{counter}
          |
