!!! html
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %meta{:name => 'description', :content => ''}
    %meta{:name => 'author', :content => 'Tongue Tied'}
    %link{:href => '/bootstrap/css/bootstrap.min.css', :rel => 'stylesheet'}
    %link{:href => '/bootstrap/css/bootstrap-theme.min.css', :rel => 'stylesheet'}
    %link{:href => '/font-awesome/css/font-awesome.min.css', :rel => 'stylesheet'}
    %link{:href => '/css/style.css', :rel => 'stylesheet'}

    /[if lt IE 9]
      %script{:src => '/bootstrap/js/html5shiv.js'}
      %script{:src => 'js/respond.min.js'}
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    %link{:rel => 'apple-touch-icon', :sizes => '144x144', :href => '/images/apple-touch-icon-144x144.png'}
    %link{:rel => 'apple-touch-icon', :sizes => '114x114', :href => '/images/apple-touch-icon-114x114.png'}
    %link{:rel => 'apple-touch-icon', :sizes => '72x72', :href => '/images/apple-touch-icon-72x72.png'}
    %link{:rel => 'apple-touch-icon', :href => '/images/apple-touch-icon-57x57.png'}

    %title= @title || 'Tongue Tied'

  %body

    = haml :partial_nav

    .container
      .starter-template
        = haml :partial_alerts
        %h1= @page_header.nil? ? 'Tongue Tied' : @page_header 
        = yield

    %script{:src => '//code.jquery.com/jquery.js'}
    %script{:src => '/bootstrap/js/bootstrap.min.js'}

