%h1 Telephony Account Detail - #{@telephony_account.number}
%ul
  %li 
    %b Provider:
    #{@telephony_account.provider}
  %li
    %a{ :href => "/api/telephony_account/#{@telephony_account.id}/subscribers" }list subscribers
  %li
    %a{ :href => "/api/telephony_account/#{@telephony_account.id}/keywords" }list keywords

%h2 Quizzes:
%form{ :role => 'form', :action => "/api/telephony_account/#{@telephony_account.id}/quiz/create", :method => 'post' }
  .xform-group
    %input{ :id => 'name', :type => 'text', :name => 'name', :placeholder => 'quiz name'}
    %textarea.form-control{ :id => 'response_message', :name => 'response_message'} Congrats! You've enrolled in the trivia quiz. Quiz questions coming soon!
    %button.btn{ :type => 'submit', :value => 'Submit'} create quiz

%ul
  - @telephony_account.quizzes.each do |q|
    %li
      - if q.active
        %a{:href => "/api/quiz_detail/#{q.id}"}
          %span.glyphicon.glyphicon-eye-open
        #{q.name}
        %a{:href => "/api/telephony_account/#{@telephony_account.id}/quiz/deactivate_quiz/#{q.id}"}Deactivate Quiz
      - else
        %a{:href => "/api/quiz_detail/#{q.id}"}
          %span.glyphicon.glyphicon-eye-open
        %span.strike
          #{q.name}
        %a{:href => "/api/telephony_account/#{@telephony_account.id}/quiz/activate_quiz/#{q.id}"} Activate Quiz