
%dl{:class => 'dl-horizontal'}
  %dt id
  %dd= @user.id
  %dt uid
  %dd= @user.uid

  %dt provider
  %dd= @user.provider
  %dt name
  %dd= @user.name
  %dt active
  %dd= @user.active
  %dt phone
  %dd= @user.phone

  / %dt raw
  / %dd= @user.raw
